<!-- <div class="container-fuild">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <button (click)="click()" class="m-2 btn btn-primary">New Pet</button>
            
        </div>
    </div>
  </div>
  <p *ngIf="isadd || isUpdate; then myadd"></p> 
 
  <ng-template #myadd>
      <div class="container col-md-6 ">
        <div class="card bg-dark">
            <div class="card-body bg-light">
              <div >
                  <label>ID</label><input type="text" [(ngModel)]="petinput.id" placeholder="ID" class="form-control">
              </div><br>
              <div >
                  <label>Name</label><input type="text" [(ngModel)]="petinput.name" placeholder="Name" class="form-control">
              </div><br>
              <div>
                  <label>Age</label><input type="number" [(ngModel)]="petinput.age" placeholder="Age" class="form-control">
              </div><br>
              <div>
                  <label>Gender</label><input type="text" [(ngModel)]="petinput.gender" placeholder="Gender" class="form-control">
              </div><br>
              <div>
                  <label>Category</label><input type="text" [(ngModel)]="petinput.category" placeholder="Category" class="form-control">
              </div>
              <div>
                  <button (click)="save()" class="btn btn-success"  style="margin-top: 25px;"[disabled]="!(petinput.id && petinput.name && petinput.age && petinput.gender && petinput.category)">Add Pet</button>
              </div>
            </div>
        </div>
      </div>
  </ng-template>
  <br> -->