<div
class="bg-image d-flex flex-column min-vh-100 bg-dark-gradient"
style="
  background-image: url('/assets/food3.jpg');
  height: 100vh;
"
>
<div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-md-8">
        <div class="text-center text-light align-items-start justify-content-start">
          <h1>Now order food</h1>
          <h1> online in Bangalore</h1>
          <br><br>
          <p>This is some sample text content in the middle of the page.</p>
        </div>
        

        <div class="row">
            <div class="col">
                <!-- <label for="exampleDataList" class="form-label">Datalist example</label> -->
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Enter your location here.">
                <datalist id="datalistOptions">
                <option value="San Francisco">
                <option value="New York">
                <option value="Seattle">
                <option value="Los Angeles">
                <option value="Chicago">
                </datalist>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Search Food..">
            </div>
            
        
        </div>
      </div>
    </div>
  </div>
  
</div>
